@import url('https://fonts.googleapis.com/css?family=Akronim&display=swap');
body {
    background: url('https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&h=750&w=1260') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    margin: auto;
    max-width: 50vw;
    flex-direction: column;   
    -webkit-overflow-scrolling: touch;
    justify-content: center;
    align-items: center;
    font-family: 'Akronim'
}
div {
    font-size: 1.5em;
}
img {
    height: 200px;
    width: 200px;
}
h1 {
    color: saddlebrown;  
}
.content {
    display: flex;
    flex-direction: column;
    background: rgb(248, 248, 248, .8);
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-width: 50vh;
}

@media (max-width: 500px) {
    div {
        font-size: 1em;
    }
    img {
        height: 150px;
        width: 150px;
    }
}
